
.selector {}


  .selector .item-image {
    border-right: 1px solid #efefef;
    background: #000;
    display: inline-block;
    text-align: center;
    height: 100%;
    line-height: 2.5em;
    color: #fff;
  }

    .selector-item-selected {
      color: #fff;
      background: #8dae28;
    }

      .selector-item-selected small.item-meta {
        color: rgba(255,255,255,.7);
      }

      .selector-item-selected a {
        color: rgba(255,255,255,.7);
        background: #8dae28;
      }
      .selector-item-selected a:hover {
        color: #fff;
      }

        .selector-item-selected .icon {
          color: #fff;
        }



/* panel fixes */

.selector .item-condensed.item-with-image .item-image {
  width: 3.75em;
  height: 3.75em;
}

@media screen and (min-width: 50em) {
  .selector .item-condensed.item-with-image .item-image {
    width: 2.5em;
    height: 2.5em;
  }
}
